<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917156043667-k2ig1p7gq5oq2v917v4p3gvju63m25vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917156043667-k2ig1p7gq5oq2v917v4p3gvju63m25vq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917156043667-oji7sdqdlbohjs06eo8so5pc2eov237l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4yF4dChynQH6jehfQ5xYWBcgfsF8te4U</string>
	<key>GCM_SENDER_ID</key>
	<string>917156043667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawfectpetsitter.pawfect1</string>
	<key>PROJECT_ID</key>
	<string>pawfect-3c71a</string>
	<key>STORAGE_BUCKET</key>
	<string>pawfect-3c71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917156043667:ios:bd1ea0c721d3e9fefaa666</string>
</dict>
</plist>